.small_button a {
  display: inline-block;
  border: 3px solid var(--cor-secundaria);
  border-radius: 12px;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  width: 10rem;
  font-size: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  cursor: pointer;
}
