.button a {
  display: inline-block;
  border: 6px solid var(--cor-secundaria);
  border-radius: 12px;
  text-decoration: none;
  padding: 4.5rem 3.5rem;
  font-weight: bold;
  text-align: center;
  width: 14rem;
  font-size: 1.8rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button {
  border-radius: 6px;
}

.filled {
  background-color: var(--cor-secundaria);
  color: var(--texto-claro);
}

.filled:hover {
  color: var(--cor-destaque);
  transform: scale(1.05);
}

.transparent {
  color: var(--cor-primaria);
}

.transparent:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
