.file-upload-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
}

.file-input {
  display: none;
}

.file-label {
  background-color: #e9ecef;
  color: var(--cor-primaria);
  font-weight: bold;
  padding: 1.2rem 12rem 1.2rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.file-label:hover {
  background-color: #dde1e4;
}

.file-name {
  margin-right: 6rem;
  color: #6c757d;
}

.file-name.no-file {
  color: #dc3545;
  font-weight: bold;
}
